include README
include AUTHORS
include ChangeLog
include LICENSE
include MANIFEST.in
recursive-include docs *
recursive-include data *
recursive-include bin *
recursive-include tests *
recursive-exclude * *.py[co]
prune docs/_build/*
